{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Instagram </title>
        <meta name="author" content="Ibai Fernández">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    </head>

    <body>
        <div id="sidebar">
            <div id="logo">
                <h1><a href="#">Instagram</a></h1>
            </div>

            <nav>
                <a class="sidebar-links" href="#">
                    <div class="nav-divs">
                        <div class="nav-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="nav-tag">
                            <span>Home</span>
                        </div>
                    </div>
                </a>
                <a class="sidebar-links" href="#">
                    <div class="nav-divs">
                        <div class="nav-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="nav-tag">
                            <span>Search</span>
                        </div>
                    </div>
                </a>
                <a class="sidebar-links" href="#">
                    <div class="nav-divs">
                        <div class="nav-icon">
                            <i class="fa fa-compass"></i>
                        </div>
                        <div class="nav-tag">
                            <span>Explore</span>
                        </div>
                    </div>
                </a>
                <a class="sidebar-links" href="#">
                    <div class="nav-divs">
                        <div class="nav-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="nav-tag">
                            <span>Notifications</span>
                        </div>
                    </div>
                </a>
                <a class="sidebar-links" href="#">
                    <div class="nav-divs">
                        <div class="nav-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="nav-tag">
                            <span>Messages</span>
                        </div>
                    </div>
                </a>
                <a class="sidebar-links" href="{% url "create" %}">
                    <div class="nav-divs">
                        <div class="nav-icon">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="nav-tag">
                            <span>Create</span>
                        </div>
                    </div>
                </a>
                <a class="sidebar-links" href="#">
                    <div class="nav-divs">
                        {% comment %} <div class="nav-icon">
                            <span><a href="#"><img class="profile-img" src="https://ibaifernandez.com/wp-content/uploads/2021/04/Ibai-Ferna%CC%81ndez.jpeg"></a></span>
                        </div> {% endcomment %}
                        <div class="nav-tag">
                            <span><a href="#">Profile</a></span>
                        </div>
                    </div>
                </a>
            </nav>
            <div id="burger-menu">
                <div class="nav-icon">
                    <i class="fa fa-bars"><a href="#"></a></i>
                </div>
                <div class="nav-tag">
                    <span><a href="#">More</a></span>
                </div>
            </div>
            
        </div>
        <div style=margin-left:300px;>
      
          {% include "message.html" %}
        </div>
        
        
        <div class="about_section layout_padding">
            
            <div id="main">
                
                <div id="photo-feed">
        {% for post in posts %}
        
        {% include 'blog/post.html' with post=post %}
        
        {% endfor %}
                     
        {% block story %}

        {% endblock story %}